.background{
  position: relative;
  width: auto;
  height: 300px;
  padding: 16px;
  margin-top: 0;
  margin-left: 16px;
  margin-right: 16px;
  box-shadow: 10px 10px 32px rgba(0, 0, 0, 0.315);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Img/background.png");
  background-repeat:no-repeat;
  background-size: cover ;
  color: #DDDDDD;
  border-radius: 8px;
}

.group {
  display: flex;
  z-index: 1;
  padding-top: 48px;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  font-family: Play;
}

.vs-10-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 32px;
}

.b15 {
  position: relative;
  padding-bottom: 14px;
  font-size: 40px;}

.h3 {
  position: relative;
  font-size: 16px;
}

.timer__items {
  display: flex;
  color: #c40b0b;
  font-size: 18px;
}

.timer__item {
  position: relative;
  min-width: 32px;
  margin-left: 12px;
  margin-right: 12px;
  padding-bottom: 15px;
  text-align: center;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}

.timer__item:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -15px;
}

.shield-1-group {
  position: relative;
  width: 55px;
  height: 83px;
  padding-right: 32px;
  text-align: center;
  font-family: Play;
}

.shield-2-group {
  position: relative;
  width: 55px;
  height: 83px;
  padding-left: 32px;
  text-align: center;
  font-family: Play;
}

.parent1 {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.parent2 {
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
}

.parent3 {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 32px;
}

.parent4 {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
}

.parent5 {
  display: flex;
  padding-right: 8px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.avatar {
  position: relative;
  border-radius: 32px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  mix-blend-mode: normal;
}

.icon_bell {
float:right;
order: 2;
margin-right: 16px;
fill: #DDDDDD;
width: 24px;
height: 24px;
text-align: center;
padding: 8px;
}

.icon_bell:hover {
float:right;
order: 2;
margin-right: 16px;
fill: #25A45B;
width: 24px;
height: 24px;
text-align: center;
padding: 8px;
}

.avatar1 {
float: right;
margin-left: auto;
order: 3;
border-radius: 32px;
width: 40px;
height: 40px;
object-fit: cover;
mix-blend-mode: normal;
}

.icon_filters {
float:right;
fill: #DDDDDD;
width: 24px;
height: 24px;
text-align: center;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #DDDDDD;
    margin: auto;
    font-size: 14px;
    margin: 0;
}

h1{
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.icon_filters:hover {
  float: right;
  z-index: 1;
  fill: #25A45B;
  width: 24px;
  height: 24px;
  text-align: center;
}

.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: #DDDDDD;
  margin: auto;
  font-size: 14px;
  margin: 0;
}





.card_gamer{
  display:inline-block;
  width:25%;
  font-size: 14px;
  padding: 8px;
  margin-right: 24px;
  border-radius: 8px;
  background-color: #1F1F1F;
  box-shadow: 10px 10px 32px rgba(0, 0, 0, 0.315);
  cursor: pointer;
}

.card_gamer:hover {
  display:inline-block;
  width:25%;
  object-fit: cover;
  margin-right: 24px;
  border-radius: 8px;
  box-shadow: 6px 6px 16px #25a45c49;
}

.cont{
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 8px;
  background-color: #353535;
  padding: 8px;
  width: auto;
  height: 70px;
  margin-bottom: 8px;
}

.img_wrapper{
  object-fit: cover;
  background-image: url(../Img/avatar2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
  border-radius: 60px;
  width: 60px;
  height: 60px;
}

.name{
  color: #DDDDDD;
  font-size: 20px;
  font-weight: 400;
  margin-left: 16px;
}

.cont1{
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 8px;
  background-color: #353535;
  padding: 8px;
  width: auto;
  height: 40px;
}

.information{
  color: #DDDDDD;
  font-size: 13px;
  font-weight: 400;
  width: 100%;
  margin-right: 8px;
}

.icon_left {
  float:left;
  fill: #DDDDDD;
  width: 24px;
  height: 24px;
  text-align: center;
}

.icon_left:hover {
  float: right;
  z-index: 1;
  fill: #25A45B;
  width: 24px;
  height: 24px;
  text-align: center;
  cursor: pointer;
}

.p_title{
  display: flex;
  align-items: center;
  padding: 16px;
  color: #DDDDDD;
  font-size: 14px;
}

.page_title{
  margin-left: 16px;
}