
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@import url("sidebar.css");
@import url("header.css");
@import url("tabs.css");
@import url("next_match.css");
@import url("cards.css");
@import url("pagination.css");

html,
body {
    font-family: 'Play';
    font-weight: 400;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #1F1F1F;
    vertical-align: top;
}

.main{
    display: flex;
}

.content {
    height: 100%; 
    width: 100%;
    margin-left: 200px;
    position: relative;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #DDDDDD;
    margin: auto;
    font-size: 14px;
    margin: 0;
}

h1{
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.icon_filters:hover {
  float: right;
  z-index: 1;
  fill: #25A45B;
  width: 24px;
  height: 24px;
  text-align: center;
}

.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: #DDDDDD;
  margin: auto;
  font-size: 14px;
  margin: 0;
}

.card_gamer{
  display:inline-block;
  width:25%;
  font-size: 14px;
  padding: 8px;
  margin-right: 24px;
  border-radius: 8px;
  background-color: #1F1F1F;
  box-shadow: 10px 10px 32px rgba(0, 0, 0, 0.315);
  cursor: pointer;
}

.card_gamer:hover {
  display:inline-block;
  width:25%;
  object-fit: cover;
  margin-right: 24px;
  border-radius: 8px;
  box-shadow: 6px 6px 16px #25a45c49;
}

.cont{
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 8px;
  background-color: #353535;
  padding: 8px;
  width: auto;
  height: 70px;
  margin-bottom: 8px;
}

.img_wrapper{
  object-fit: cover;
  background-image: url(./Img/avatar2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
  border-radius: 60px;
  width: 60px;
  height: 60px;
}

.name{
  color: #DDDDDD;
  font-size: 20px;
  font-weight: 400;
  margin-left: 16px;
}

.cont1{
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 8px;
  background-color: #353535;
  padding: 8px;
  width: auto;
  height: 40px;
}

.information{
  color: #DDDDDD;
  font-size: 13px;
  font-weight: 400;
  width: 100%;
  margin-right: 8px;
}

.icon_left {
  float:left;
  fill: #DDDDDD;
  width: 24px;
  height: 24px;
  text-align: center;
}

.icon_left:hover {
  float: right;
  z-index: 1;
  fill: #25A45B;
  width: 24px;
  height: 24px;
  text-align: center;
  cursor: pointer;
}

.p_title{
  display: flex;
  align-items: center;
  padding: 16px;
  color: #DDDDDD;
  font-size: 14px;
}

.page_title{
  margin-left: 16px;
}
