

@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

html,
body {
    font-family: 'Play';
    font-weight: 400;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #1F1F1F;
    vertical-align: top;
}

.logo{
    display: flex;
    align-content: center;
    justify-content: space-around; /* центрируем логотип с текстом */
    padding-top: 20px;
    padding-bottom: 0px;
}

.main{
    display: flex;
}

.sidebar {  
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    font-family: 'Play';
    font-weight: 400;
    background-color: #141414; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */  
}

.sidebar li {
    width: auto;
    display: flex;
    font-family: 'Play';
    font-weight: 400;
    color: #666666;
    align-items: center;
    padding: 16px;
}

.sidebar li:hover {
    background: linear-gradient(90deg, #25A45B,4%, #1F1F1F); 
    border-left: solid 4px #13e66e;
    color: #25A45B;
    padding-left: 12px;   
}
.sidebar li.active {
    background: linear-gradient(90deg, #1F1F1F, #1F1F1F); 
    border-left: solid 4px #1F1F1F;
    color: #25A45B;
    padding-left: 12px;   
}



.sidebar ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #666666;
    padding: 0px;
    font-size: 18px;
}

.sidebar li.active a, .sidebar li:hover a {
    color: #25A45B;
    padding: 0px;
    font-size: 18px;
}

.icon {
    width: 22px; /* Размер иконки */
    height: 22px;
    fill: #666666;
    margin-right: 16px; /* Расстояние между иконкой и текстом */
}

.sidebar li.active .icon, .sidebar li:hover .icon {
    width: 22px; /* Размер иконки */
    height: 22px;
    fill: #25A45B;
    margin-right: 16px; /* Расстояние между иконкой и текстом */
}




.content {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 100%;
    margin-left: 200px;
    position: relative;
}

.header{
    height: 40px; /* Full-height: remove this if you want "auto" height */
    width: auto;
    position: relative; 
    padding: 16px;
}

form {
    background-color: #353535;
    color: #25A45B;
    width: 300px;
    height: 40px;
    float: left;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  input {
    all: unset;
    font-family: 'Play';
    font-weight: 400;
    height: 40px;
    width: 100%;
  }

  ::placeholder {
    color: #ffffff;
    opacity: 0.2; 
  }

  input[type="search"]::-webkit-search-cancel-button {
    display: none;
    color: #ffffff;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 46px;
    height: 46px;
  }
  
  .icon_search {
    fill: #fff;
    opacity: 0.2; 
    width: 22px;
    height: 22px;
    text-align: center;
    padding: 12px;
  }
  .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #DDDDDD;
    margin: auto;
    font-size: 14px;
    margin: 0;
  }
  h1{
    float: left;
    margin-top: auto;
    margin-bottom: auto;
  }

  .tabs {
    display: flex;
}

.tabs a {
    text-decoration: none;
    color: #DDDDDD;
    padding: 5px 10px;
    margin-left: 10px;
}

.tabs a:hover {
    color: #25A45B;
}
.tabs a.active {
    color: #25A45B;
}


.background{
    position: relative;
    width: auto;
    height: 300px;
    padding: 16px;
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
    box-shadow: 10px 10px 32px rgba(0, 0, 0, 0.315);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("Img/background.png");
    background-repeat:no-repeat;
    background-size: cover ;
    color: #DDDDDD;
    border-radius: 8px;
}

.group {
    display: flex;
    z-index: 1;
    padding-top: 48px;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-family: Play;
  }
  .vs-10-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 32px;
  }
  .b15 {
    position: relative;
    font-size: 40px;}

.h3 {
    position: relative;
    font-size: 16px;
}


  .timer__items {
    display: flex;
    color: #c40b0b;
    font-size: 18px;
  }

  .timer__item {
    position: relative;
    min-width: 32px;
    margin-left: 12px;
    margin-right: 12px;
    padding-bottom: 15px;
    text-align: center;
  }

  .timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
  }

  .timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
  }

  .shield-1-group {
    position: relative;
    width: 55px;
    height: 83px;
    padding-right: 16px;
    text-align: center;
    font-family: Play;
  }
  .shield-2-group {
    position: relative;
    width: 55px;
    height: 83px;
    padding-left: 24px;
    text-align: center;
    font-family: Play;
  }

  .parent1 {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

  .parent2 {
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--button-16-size);
  }

  .parent3 {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 32px;
}
.parent4 {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 16зч;
}
.parent5 {
    display: flex;
    padding-right: 8px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.avatar {
    position: relative;
    border-radius: 32px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    mix-blend-mode: normal;
}

.icon_bell {
  float:right;
  order: 2;
  margin-right: 16px;
  fill: #DDDDDD;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 8px;
}

.icon_bell:hover {
  float:right;
  order: 2;
  margin-right: 16px;
  fill: #25A45B;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 8px;
}

.avatar1 {
  float: right;
  margin-left: auto;
  order: 3;
  border-radius: 32px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  mix-blend-mode: normal;
}

.icon_filters {
  float:right;
  fill: #DDDDDD;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 8px;
}

.icon_filters:hover {
  float: right;
  z-index: 1;
  fill: #25A45B;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 8px;
}

.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: #DDDDDD;
  margin: auto;
  font-size: 14px;
  margin: 0;
}

.cards_block{
  padding-left: 16px;
  padding-right: 16px;
}

.rectangle{
  float: right;
  object-fit: cover;
}

.cards_row1{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.card {
  display:inline-block;
  width:25%;
  font-size: 14px;
  object-fit: cover;
  background-image: url(./Img/Rectangle.svg);
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 24px;
  border-radius: 8px;
  background-color: #2b2b2b;
  box-shadow: 10px 10px 32px rgba(0, 0, 0, 0.315);
  height: 160px;
}

.card:hover {
  display:inline-block;
  width:25%;
  object-fit: cover;
  background-image: url(./Img/Rectangle.svg);
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 24px;
  border-radius: 8px;
  box-shadow: 6px 6px 16px #25a45c49;
  height: 160px;
}

p{
  color: #DDDDDD;
  position: absolute;
  font-family: 'Play';
  font-weight: 700;
  font-size: 16px;
  margin: 12px;
}

h3{
  float: right;
  color: #25A45B;
  font-size: 20px;
  margin: 12px;
}
.infa{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}
.infa1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
}
.text{
  color: #DDDDDD;
  order: 2;
  float: left;
  margin-right: auto;
}

.icon_map {
  float: left;
  order: 1;
  fill: #25A45B;
  width: 20px;
  height: 20px;
  padding: 8px;
}
.icon_users {
  float: left;
  order: 1;
  fill: #25A45B;
  width: 20px;
  height: 20px;
  padding: 8px;
}

/* Стили для контейнера пагинации */
.pagination {
  display: flex;
  list-style: none;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

/* Стили для ссылок страниц */
.pagination a {
  margin-right: 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: #DDDDDD;
  border-radius: 40px;
}

.pagination a:hover {
  background-color: #25A45B;
  color: #DDDDDD;
}

/* Стили для активной страницы */
.pagination a.active {
  background-color: #25A45B;
  color: #DDDDDD;
}